<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BukuKu.id</title>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="head">
        <h1><a href="home.html">BukuKu.id</a></h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="book.html">Book</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about">       
            <h1>BukuKu.id</h1>
            <div class="content">
                <p>
                    BukuKu.id is Web application made<br> 
                    for keep books to the Bookshelf & check that book<br>
                    already read or not.
                </p>
                <p><a href="book.html">-></a></p>
            </div>
        </section>
    </main>
</body>
</html>